body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img,
abbr {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  background-color: #000000;
}

.your-life {
  background-color: #000000;
  background-image: url(./assets/bg-header.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: -58px 0;
  padding: 56px 0;
}

.your-life__title {
  padding: 173px 0px 0px 5px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4.5px;
}

.your-life__text {
  max-width: 500px;
  margin: 23px auto 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  text-align: center;
}

.your-life__icon-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  justify-content: center;
}

.button {
  display: block;
  width: 184px;
  height: 45px;
  margin: 30px auto 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background: #00afdb;
}

.button:hover {
  background-color: #009cc2;
}

.navbar {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  -webkit-box-pack: center;
  justify-content: center;
}

.navbar__logo {
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -22px;
}

.navbar__logo-img {
  display: block;
  margin: 0 auto;
}

.navbar__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  padding: 0 104px;
}

.list__item {
  width: 260px;
  margin: 38px 0 0 0;
}

.list__item:nth-child(4n + 2) {
  padding-right: 124px;
}

.list__item:nth-child(4n + 3) {
  padding-left: 123px;
  width: 258px;
}

.list__item:nth-child(4n + 1),
.list__item:nth-child(4n + 2) {
  text-align: right;
}

.list__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  text-decoration: none;
  opacity: 0.8;
}

.list__link_active {
  opacity: unset;
  border-bottom: 1px solid #ffffff;
}

.list__link:hover {
  opacity: unset;
}

.icon-list__item {
  margin: 183px 15px 29px;
}

.rappresent__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 119px;
  margin: 58px auto 0 auto;
  max-width: 1122px;
}

.rappresent__block {
  margin-right: 247px;
  max-width: 407px;
}

.rappresent__title {
  margin-top: 175px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.rappresent__text {
  margin-top: 22px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4e4e4e;
}

.rappresent__text_strong {
  font-weight: bold;
}

.rappresent__button {
  margin: 30px 0 0 0;
}

.rappresent__image {
  margin-bottom: 140px;
}

.our-community {
  background-color: #f5f6f7;
}

.our-community__wrapper {
  display: -webkit-box;
  display: flex;
  overflow: hidden;
}

.our-community__block {
  margin: 141px 139px 0 240px;
  width: 298px;
  background: url(./assets/icon-girl.png) no-repeat center 14px;
  flex-shrink: 0;
}

.our-community__title {
  padding-top: 80px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: #373737;
}

.our-community__text {
  margin-top: 10px;
  margin-bottom: 174px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4e4e4e;
}

.slider {
  color: #373737;
}

.slider__buttons {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: 545px;
  width: 80px;
}

.slider__arrow_left {
  background: url(./assets/Rectangle\ 5.svg) no-repeat;
  background-position: center;
  border: none;
}

.slider__arrow_left:hover {
  cursor: pointer;
}

.slider__arrow_right {
  background: url(./assets/Rectangle\ 6.svg) no-repeat;
  background-position: center;
  border: none;
}

.slider__arrow_right:hover {
  cursor: pointer;
}

.slider__first-value {
  margin-left: 10px;
}

.slider__separator {
  margin: 0 auto;
  flex-shrink: 1;
}

.slider__second-value {
  margin-right: 10px;
}

.slider__images {
  display: -webkit-box;
  display: flex;
  flex-wrap: nowrap;
  height: 244px;
}

.slider__img {
  margin: 0 30px 0 0;
}

.implement__wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding-top: 119px;
  padding-bottom: 140px;
  width: 1122px;
}

.implement__block {
  width: 515px;
}

.implement__title {
  margin-top: 199px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.implement__text {
  margin-top: 22px;
  width: 417px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #4e4e4e;
}

.implement__text_strong {
  font-weight: bold;
}

.implement__button {
  margin: 29px 0 0 0;
  width: 181px;
}

.subscribe {
  background: url(./assets/bg-notebook.jpg) no-repeat #0e0e0e;
  background-position: top;
}

.subscribe__wrapper {
  padding: 200px 0 220px 0;
  text-align: center;
}

.subscribe__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.subscribe__form {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 30px;
}

.subscribe__input-email {
  padding: 0 24px;
  margin-left: -48px;
  margin-right: -1px;
  height: 46px;
  width: 342px;
  font-size: 14px;
  line-height: 20px;
  color: #373737;
}

.subscribe__button {
  background: url(./assets/icon-fa-check.svg) no-repeat center center #00afdb;
  border: none;
  width: 65px;
  height: 46px;
  margin: 0px -46px 0 0px;
}

.subscribe__button:hover {
  background-color: #009cc2;
  cursor: pointer;
}

.download {
  background-color: #f5f6f7;
  padding-top: 120px;
  padding-bottom: 177px;
}

.download__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.download__text {
  width: 483px;
  margin: 21px auto 0;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #4e4e4e;
}

.download__buttons {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
}

.download__button {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  margin: 30px 15px 0;
  height: 48px;
  width: 188px;
  text-align: center;
}

.download__button-text {
  font-weight: bold;
  font-size: 14px;
  line-height: 52px;
  text-transform: uppercase;
  color: #ffffff;
}

.download__icon {
  margin-left: 19px;
  width: 59px;
  height: 47px;
  display: inline-block;
}

.download__icon_apple {
  background: url(./assets/icon-apple.svg) #009cc2 no-repeat center;
}

.download__icon_android {
  background: url(./assets/icon-android.svg) #009cc2 no-repeat center;
}

.footer {
  background-color: #000000;
}

.footer__wrapper {
  position: relative;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 75px 160px 90px;
}

.footer__list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-left: -19px;
}

.footer__list-item {
  position: relative;
  padding: 0 20px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  opacity: 0.98;
}

.footer__list-item:hover {
  opacity: 0.8;
}

.footer__list-item:last-child:after {
  border: none;
}

.footer__list-item:after {
  content: '';
  position: absolute;
  right: 0;
  top: 6px;
  height: 8px;
  border-right: solid 1px #4e4e4e;
}

.footer__logo {
  top: 61px;
}

.footer__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #818181;
}
