html {
  font-size: $font-size;
  font-family: $font-family;
  color: $color-font;
  line-height: 1.4;
}

body {
  background-color: $color-light-s;
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  color: $color-font;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}
