$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$color-font: gold;
$color-darkest: #000000;
$color-dark-m: #fc912e;
$color-light-mid: #86d15b;
$color-lightest: #ffffff;
$color-light-s: #667db6;
$transparent: rgba(0, 0, 0, 0.2);
$transparent-s: rgba(0, 0, 0, 0.5);
