$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$color-font: #eeda22;
$color-darkest: #000000;
$color-dark-m: #d49152;
$color-light-mid: #86d15b;
$color-lightest: #ffffff;
$color-light-s: #667db6;
$transparent: rgba(0, 0, 0, 0.2);
