@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';
@import 'switcher';
@import 'burger';
@import 'nav';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.header {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
  }

  &__title {
    margin: 10px 10px;
  }
}

.main {
  &__container {
    display: flex;
    flex-wrap: wrap;
  }
}

.category__page-title {
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 20px 10px;
  padding-bottom: 20px;

  height: 300px;
  width: 270px;

  border: 1px solid $color-darkest;
  box-shadow: 0 0 10px $color-darkest;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;

  &__text {
    font-size: 32px;
  }

  &__image {
    height: 200px;
    object-fit: cover;
  }

  &:hover {
    box-shadow: 0 0 30px $color-darkest;
    cursor: pointer;
    transition: box-shadow 0.5s ease;
  }

  &__flip-btn {
    background-image: url(../../../english-for-kids/public/rotate.svg);
    background-size: 50px 40px;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background-color: $color-dark-m;
    border-radius: 12px;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px $color-darkest;
      transition: box-shadow 0.3s;
    }
  }
}

.footer {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
  }

  &__link {
    font-size: 24px;
  }
}
