$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #045720;
$page-width: 650px;
$font-color: #dae0e0;
$color-primary: #dae791;
$color-secondary: #003333;
$color-darkest: #000000;
$color-darkest-transparent-80: #00000080;
$color-transparent-50: rgba(0, 0, 0, 0.5);
$color-hot: #aa3939;
$color-body-fallback: #16a085;
