@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game {
  position: relative;
  margin: 0 auto;
  box-shadow: 5px 5px 50px #00000080;
  background-color: #aa3939;
  border-radius: 15px;
  width: 310px;
  height: 310px;
  font-size: 48px;

  border: 5px solid #311205;
}

.cell {
  position: absolute;
  width: 75px;
  height: 75px;
  border: 3px solid #dae791;
  border-radius: 9px;
  text-align: center;
  align-items: center;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    color: #dae791;
    background-color: #003333;
  }
}

.move-btn {
  width: 100px;
  height: 100px;
  border: 2 solid #000;
  border-radius: 15px;
}

.bottom {
  position: relative;
  display: flex;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 310px;
  margin: 20px auto;
  text-align: center;
  color: #dae791;
  background-color: #003333;
  border-radius: 10px;
  padding: 20px;

  &__game-info {
    width: 45%;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
  }

  &__congratulations {
    margin: 0 5px;
  }
}

.time {
  position: absolute;
  right: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #000000;

  background-color: rgba(0, 0, 0, 0.5);
  background: url(../images/boom.png) no-repeat center;
  visibility: hidden;
  opacity: 0;

  transition: all 0.8s ease 0s;

  &.open {
    visibility: visible;
    opacity: 1;

    & .popup__content {
      transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
      opacity: 1;
    }
  }
  &__body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;

    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    position: relative;

    display: flex;
    justify-content: center;

    flex-direction: column;
    padding: 20px;
    width: 270px;
    margin: 0 auto;

    color: #dae791;
    background-color: #003333;

    text-align: center;

    border-radius: 9px;

    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    opacity: 0;

    transition: all 0.8s ease 0s;
    z-index: 100;

    &:hover {
      box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.6);
      cursor: initial;
    }
  }
}

.controls {
  display: flex;
  justify-content: space-around;
  padding: 20px 5px;

  &__play-btn,
  &__volume,
  &__pause {
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 9px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    padding: 5px;
    background-color: #dae791;
    color: #003333;
    outline: none;
    cursor: pointer;

    &:hover {
      color: #dae791;
      background-color: #003333;
      cursor: pointer;
    }
  }

  &__volume,
  &__pause {
    font-size: 30px;
    width: 40px;
    height: 40px;
  }
}
