@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

@import 'variables';
@import 'scaffolding';

* {
  box-sizing: border-box;
  margin: 0;
}

.app {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game {
  position: relative;
  margin: 0 auto;
  box-shadow: 0 1px 4px #00000080;
  background-color: #aa3939;
  border-radius: 15px;
  width: 310px;
  height: 310px;
  font-size: 48px;

  border: 5px solid #2b1004;
}

.cell {
  position: absolute;
  width: 75px;
  height: 75px;
  border: 3px solid #dae791;
  border-radius: 9px;
  text-align: center;
  align-items: center;
  cursor: pointer;

  transition: all 0.3s;

  &:hover {
    color: #dae791;
    background-color: #003333;
  }
}

.move-btn {
  width: 100px;
  height: 100px;
  border: 2 solid #000;
  border-radius: 15px;
}

.bottom {
  position: relative;
  display: flex;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 310px;
  margin: 20px auto;
  text-align: center;
  background-color: rgb(0, 139, 139);
  border-radius: 10px;
  padding: 20px;

  &__game-info {
    width: 45%;
    text-align: left;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
  }

  &__message {
    background-image: url(../images/boom.png);
    margin: 0;
    height: 95px;
    text-align: center;
    font-size: 38px;
    color: #ffffff;
  }

  &__congratulations {
    margin: 0 5px;
  }
}

.time {
  position: absolute;
  right: 0;
}

.play-btn {
  margin: 20px auto;
  border: none;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  padding: 5px;
  min-width: 100px;
  background-color: #dae791;
  color: #003333;
  outline: none;
  cursor: pointer;

  &:hover {
    color: #dae791;
    background-color: #003333;
  }
}
