{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {},

  "env": {
    "browser": true,
    "es2020": true
  },

  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module"
  }
}
