.map {
  display: flex;
  flex-wrap: wrap;
}

.map,
.map-container,
.map .map-base {
  position: relative;
  height: 580px;
  width: 100%;
  z-index: 0;
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: white;
  width: 45px;
  height: 45px;
  font-size: 11px;
  font-weight: bold;
  background-color: #58554a;
  background-image: url(../assets/img/virus-green-compressed.svg);
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
  z-index: 0;
}

.icon-marker:hover .icon-marker-tooltip {
  display: block;
}

.icon-marker-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 280px;
  font-size: 14px;
  padding: 10px;
  background-color: #3d3d3d;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.9);
  z-index: 0;
}

.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  bottom: -6px;
  left: 50%;
  content: '';
  width: 18px;
  height: 18px;
  background-color: #3d3d3d;
  transform: rotate(45deg);
  margin-left: -9px;
  z-index: 0;
}

.icon-marker-tooltip h2 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 2px;
  margin-top: 0;
  z-index: 0;
}

.icon-marker-tooltip h3 {
  font-size: 1.2em;
  margin: 0.1em 0;
  font-weight: normal;
  color: #3d3d3d;
}

.icon-marker-tooltip ul,
.icon-marker-tooltip p {
  font-weight: normal;
}

.icon-marker-tooltip ul {
  list-style: none;
  padding: 0;
  margin: 0.6em 0 0;
}

.size_10 {
  width: 20px;
  height: 20px;
  background-color: #a8e6cf;
}

.size_100 {
  width: 30px;
  height: 30px;
  background-color: #dcedc1;
}

.size_1000 {
  width: 40px;
  height: 40px;
  background-color: #ffd3b6;
}

.size_10000 {
  width: 40px;
  height: 40px;
  background-color: #ffaaa5;
}

.size_100000 {
  width: 50px;
  height: 50px;
  background-color: #ff8b94;
}

.size_1000000 {
  width: 70px;
  height: 70px;
  background-color: #ff5757;
}

.size_10000000 {
  width: 90px;
  height: 90px;
  background-color: #ff0d00;
}

.size_1000000000 {
  width: 120px;
  height: 120px;
  background-color: #ff0d00;
}

.map__legend {
  position: absolute;
  bottom: 10px;
  left: 14px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  padding: 4px;

  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;

  z-index: 1;
}

.legend__title {
  margin-top: 2px;
  margin-bottom: 7px;
}

.legend__item {
  display: flex;
  align-items: center;
}

.legend__color {
  width: 30px;
  height: 30px;
  background-color: red;
  border: 1px solid #000;
  margin-right: 5px;
}

.legend__color_extra_min_cases {
  background-color: #a8e6cf;
}

.legend__color_min_cases {
  background-color: #dcedc1;
}

.legend__color_mid_cases {
  background-color: #ffd3b6;
}

.legend__color_extra_mid_cases {
  background-color: #ffaaa5;
}

.legend__color_max_cases {
  background-color: #ff8b94;
}

.legend__color_extra_max_cases {
  background-color: #ff5757;
}

.legend__color_ultra_max_cases {
  background-color: #ff0d00;
}

.leaflet-container {
  background-color: #252525;
}
